<form>
  <div class="form-group">
    <label for="inputAddress">Query</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1">AND</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
    <label class="form-check-label" for="inlineRadio2">OR</label>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Autori</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
  <button type="submit" class="btn btn-primary">Cerca</button>
</form>
