$def with (results, user_data, searcherlen, pages)

<div class="container bootstrap snippet">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<h2>
						$searcherlen results found for: <span class="text-navy">"$user_data.query"</span>
					</h2>
					<small>Request time  (0.23 seconds)</small>

					<div class="search-form">
						<form action="search" method="get">
							<div class="input-group">
								<input type="text" value="$user_data.query" name="query" class="form-control input-lg">
								<input type="hidden" value="1" name="page" class="form-control input-lg">
								<div class="input-group-btn">
									<button class="btn btn-lg btn-primary" type="submit">
										Search
									</button>
								</div>
							</div>
						</form>
					</div>
					$for article in results:
						<div class="hr-line-dashed"></div>
						<div class="search-result">
							<h3><a href="./article?docid=$article['docid']">$article['title']</a></h3>
							<a href="./article?id=$article['docid']" class="search-link">https://aleste.com/$article['docid']</a>
							<p>
								$if "abstract" in article.keys() and len(article.get('abstract')) > 300:
									$article.get("abstract")[:300] + '...'
								$else:
									$article.get('abstract')
							</p>
						</div>


					<div class="text-center">
						<ul class="pagination pg-blue  justify-content-center">
											<li class="page-item">	<a href="$pages['first_page']['href']" class="page-link">$:pages['first_page']['value']</a></li>
											<li class="page-item">	<a href="$pages['previous_page']['href']" class="page-link">$:pages['previous_page']['value']</a></li>
											$for range_page in pages['range_pages']:
												<li class="page-item"><a href="$range_page['href']" class="$:range_page['type'] page-link">$:range_page['value']</a></li>

											<li class="page-item"><a href="$pages['next_page']['href']" class="page-link">$:pages['next_page']['value']</a></li>
											<li class="page-item"><a href="$pages['last_page']['href']" class="page-link">$:pages['last_page']['value']</a></li>
					</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
